<p id="notice">
  <%= notice %>
</p>
<div class="container1 text-center">
<% if @pets.first == nil %>
  <h1 class="mt-4 mb-5"> No results for pets in <%= params[:search].capitalize %>
  <% else %>
    <% if params[:search] == ""  || params[:search] == nil %>
    <h1 class="mt-4 mb-5">All pets</h1>
    <% else %>
  <h1 class="mt-4 mb-5">Pets In
    <%= params[:search].capitalize %>
  </h1>
  <% end %>
  <div class="row main-holder">
    <% @pets.each do |pet| %>
    <div class="col-sm-4">
      <div class="card individual-card justify-content-around">
        <% pet_photo_key = get_photo_key(pet) %>
        
        <div>
          <%= cl_image_tag pet_photo_key, alt: "pet photo", class: "pet-img card-img-top" %>
        </div>

        <div class="card-body list-group list-group-flush d-flex flex-column align-items-center ">
          <div class="card-title">
            <%= pet.name %>
          </div>
          <div class="card-text">
            <%= pet.description %>
          </div>
          <div class="list-group-item">Age:
            <%= pet.age %>
          </div>
          <div class="list-group-item">
            Gender: <%= pet.gender %>
          </div>
          <div class="list-group-item">
           Breed: <%= pet.breed %>
          </div>
          <div class="list-group-item">
            Shelter Name: <%= pet.shelter.name %>
          </div>
          <div class="list-group-item">
            Location <%= pet.shelter.user.city %>
          </div>
          <div class="list-group-item">
            Price per day: <%= pet.price_per_day %>
          </div>
          <div class="bottom-link1">
          <%= link_to "Learn more about #{pet.name}" , pet, class: "bottom-link" %>
          </div>
      </div>
      </div>

    </div>
    <% end %>
  </div>
</div>
<% end %>