<p id="notice">
  <%= notice %>
</p>
<div class="container1 text-center">
  <h1 class="mt-4 mb-5">Pets In
    <%= params[:search] %>
  </h1>
  <div class="row main-holder">
    <% @pets.each do |pet| %>
    <div class="col-sm-3 individual-card">
      <div class="card">
        <img src="https://weneedfun.com/wp-content/uploads/2015/10/Cute-puppy-Pictures-29.jpg" class="card-img-top" alt="..." style="object-fit: cover;">
        <div class="card-body">
          <h5 class=card-title>
            <%= pet.name %>
          </h5>
          <p class="card-text">
            <%= pet.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age:
            <%= pet.age %>
          </li>
          <li class="list-group-item">
            Gender: <%= pet.gender %>
          </li>
          <li class="list-group-item">
           Breed: <%= pet.breed %>
          </li>
          <li class="list-group-item">
            Shelter Name: <%= pet.shelter.name %>
          </li>
          <li class="list-group-item">
            Location <%= pet.shelter.user.city %>
          </li>
          <li class="list-group-item">
            Price per day: <%= pet.price_per_day %>
          </li>
          <%= link_to "Learn more about #{pet.name}" , pet, class: "bottom-link" %>
        </ul>
      </div>
      </ul>
    </div>
    <% end %>
  </div>
</div>
