<div class="container text-center mt-5">
    <% if @reservations.first == nil %>
      <h1> No reservations found! </h1>
  <%= link_to "Go back home", root_path, class: "btn btn-primary mx-auto mt-5"  %>
  <% else %>
  <h1 class="mb-5">Reservations for <%= @reservations.first.user.first_name %></h1>
  <% @reservations.reverse.each do |reservation| %>
    <div class="card text-center mb-5">
       <div class="card-header">
        Booking of <%= reservation.pet.name %>
        <% if reservation.end_date.past? %>
          <%= link_to "Please leave a review...",  new_reservation_pet_review_path(reservation) %>
        <% end  %>
       </div>
       <div class="card-body">
        <h5 class="card-title">You are booking <%= reservation.pet.name %> from <%= reservation.start_date %> to <%= reservation.end_date %></h5>
        <p class="card-text">Total price is <%= reservation.total_price %></p>
        <p class="card-text"> Please return <%= reservation.pet.name %> to <%= reservation.pet.shelter.name %>  on <%= reservation.end_date %></li>
        <p class="card-text"> <%= reservation.pet.name %>'s information:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Description: <%= reservation.pet.description %></li>
    <li class="list-group-item">Animal Type: <%= reservation.pet.animal_type %></li>
    <li class="list-group-item">Age: <%= reservation.pet.age %></li>
    <li class="list-group-item">Gender: <%= reservation.pet.gender %></li>
    <li class="list-group-item">Breed: <%= reservation.pet.breed %></li>
    <li class="list-group-item">Shelter: <%= reservation.pet.shelter.name %></li>
    <li class="list-group-item">Price Per Day: <%= reservation.pet.price_per_day %></li>
    <li class="list-group-item">City: <%= reservation.pet.shelter.user.city %></li>
  </ul>

</div>
<div class="card-footer text-muted">
      <li class="card-text"> Please return <%= reservation.pet.name %> to <%= reservation.pet.shelter.name %>  on <%= reservation.end_date %></li>
        </div>
    </div>
  <% end %>

  <% end %>
</div>
