<div class="container m-5 " style="max-width: 100rem">
    <%= render 'shared/notices' %>
    <% if @reservations.first == nil %>
      <h1> No reservations found! </h1>
  <%= link_to "Go back to home page", root_path, class: "btn btn-primary mx-auto"  %>
  <% else %>
    <h1 class="text-center">Reservations</h1>
    <div class="row border-top-0 row-cols-3 pt-5" >
    <% @reservations.reverse.each do |reservation| %>
  
    <div class="col my-3 d-flex align-items-stretch">
      <div class="card border-warning" style="max-width: 25rem; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" >
      <div class="card-header text-center">

        <% pet_photo_key = get_photo_key(reservation.pet) %>
        <%= cl_image_tag pet_photo_key, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle mr-4", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

        
       <h2 class="mt-2"> Booking of <%= reservation.pet.name %></h2>
      </div>
        
        <div class="card-body text-center m-3">
          
          <% if reservation.end_date.past? && reservation %>
            <p class="card-text text-center"> You rented <%= reservation.pet.name %> from <%= reservation.pet.shelter.name %>  from <%= reservation.start_date %> to <%= reservation.end_date %> </p>
          <% else %>
            <p class="card-title">You are booking <%= reservation.pet.name %> from <%= reservation.start_date %> to <%= reservation.end_date %></p>
            <p class="card-text">Total price is <%= reservation.total_price %></p>
            <p class="card-text"> Please return <%= reservation.pet.name %> to <%= reservation.pet.shelter.name %>  on <%= reservation.end_date %></li>
          <% end %>
          <p class="card-text" style="font-size: 2rem"> <%= reservation.pet.name %>'s information:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="bold">Description: </span><%= reservation.pet.description %></li>
            <li class="list-group-item"><span class="bold">Age:</span> <%= reservation.pet.age %></li>
            <li class="list-group-item"><span class="bold">Gender:</span> <%= reservation.pet.gender %></li>
            <li class="list-group-item"><span class="bold">Breed:</span> <%= reservation.pet.breed %></li>
            <li class="list-group-item"><span class="bold">Shelter:</span> <%= reservation.pet.shelter.name %></li>
            <li class="list-group-item"><span class="bold">Price Per Day:</span> <%= reservation.pet.price_per_day %></li>
            <li class="list-group-item"><span class="bold">City:</span> <%= reservation.pet.shelter.user.city %></li>
          </ul>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">
          <% if reservation.end_date.past? %>
            <%= link_to "Pet review",  new_reservation_pet_review_path(reservation), class:"btn btn-warning mr-3", style: "box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" %>
            <%= link_to "Shelter review",  new_reservation_shelter_review_path(reservation), class:"btn btn-warning", style: "box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" %>
          <% else %>
            <li class="card-text"> Please return <%= reservation.pet.name %> to <%= reservation.pet.shelter.name %>  on <%= reservation.end_date %></li>
          <% end  %>  
          </small>

        </div>
      </div>
    
    
    </div>
    
    

  <% end  %>
  <% end  %>
  </div>
</div>