<div class="container">
<div class="hidden booking-pet-price" data-pet-price="<%= @pet.price_per_day %>"></div>
<%= simple_form_for [@pet, @reservation]  do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.hidden_field :total_price %>
  <%= f.submit %>
<% end %>

<div id="price">
  <h6 class="text-alert" style="color: rgb(242,146,36); margin-top: 20px;"></h6>
  <h3 class='displayPrice' style="margin-top: 15px;">Total: </h3>
</div>